@import '../../_settings/varibales';

.Header header {
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color-white);
    padding: 0.5rem 1rem;
  }
  
  ul.menu {
    list-style: none;
  }
  
  ul.menu li {
    display: inline;
    padding: 12px;
  }
  
  ul.menu a {
    color: var(--color-white);
  }
